<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895759414243-lq9shool7l5e41a5vinalca4vdvp5n57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895759414243-lq9shool7l5e41a5vinalca4vdvp5n57</string>
	<key>API_KEY</key>
	<string>AIzaSyDBvo4tV0epl4Zl11QPHsK9psxt6iJn6xw</string>
	<key>GCM_SENDER_ID</key>
	<string>895759414243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flowerstore</string>
	<key>PROJECT_ID</key>
	<string>flowerstore-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flowerstore-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895759414243:ios:fb7acd429b751fb4b326d6</string>
</dict>
</plist>